<form id="search-form" action="/artist-search" method="GET">

    <label>
        <input type="text" name="artistSearch">
    </label>

    <button id="submit-button" type="submit">Submit</button>
</form>